[access]
	inheritFrom = releng
[access "refs/*"]
	owner = group ldap/gerrit-releng-builder-committers
[access "refs/heads/*"]
	submit = deny group Project Owners
[label "Approved"]
	function = MaxWithBlock
	abbreviation = A
	copyMinScore = true
	value = -1 Do not merge
	value = 0 No score
	value = +1 Conditionally merge
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	value = +2 Verified and merge
	defaultValue = 0
