[access]
	inheritFrom = releng
[access "refs/*"]
	owner = group saml/odl-gerrit-releng-builder-committers
	read = group Administrators
	read = group GitHub Replication
	read = block group Anonymous Users
	read = block group Registered Users
[access "refs/heads/*"]
	submit = deny group Project Owners
	label-Approved = -1..+1 group Project Owners
	label-Approved = -1..+0 group Registered Users
	label-Verified = -1..+2 group Service Users
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..-1 group Project Owners
[label "Approved"]
	function = MaxWithBlock
	abbreviation = A
	value = -1 Do not merge
	value = 0 No score
	value = +1 Conditionally merge
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE OR is:MIN
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	value = +2 Verified and merge
	defaultValue = 0
	copyCondition = changekind:NO_CHANGE
[project]
