---
# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 The Linux Foundation <abelur@linux.com>

name: "Call Github2Gerrit reusable workflow"

# yamllint disable-line rule:truthy
on:
  pull_request_target:
    types: [opened, reopened, edited, synchronize]
    branches:
      - master
      - main

jobs:
  call-in-g2g-workflow:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: "Call the Github2Gerrit workflow"
        id: gerrit-upload
        uses: askb/github2gerrit@main
        with:
          GERRIT_SERVER: ${{ vars.GERRIT_KNOWN_HOSTS }}
          GERRIT_KNOWN_HOSTS: ${{ vars.GERRIT_KNOWN_HOSTS }}
          GERRIT_SSH_USER_G2G: ${{ vars.GERRIT_SSH_USER_G2G }}
          GERRIT_SSH_USER_G2G_EMAIL: ${{ vars.GERRIT_SSH_USER_G2G_EMAIL }}
          GERRIT_SSH_PRIVKEY_G2G: ${{ secrets.GERRIT_SSH_PRIVKEY_G2G }}
          SOURCE_REPO: ${{ github.repository }}
          ORGANIZATION: ${{ vars.ORGANIZATION }}
          GERRIT_PROJECT: ${{ vars.GERRIT_PROJECT }}
